@mixin button {
    font-weight: 700;
    font-size: 1rem;
    color: rgba(255, 247, 240, 1);
    border-radius: 28px;
    height: fit-content;
    padding: 1.25rem 1rem;
    margin: auto 0;
    text-align: center;
}