@mixin button {
    font-weight: 700;
    font-size: 1rem;
    color: rgba(255, 247, 240, 1);
    border-radius: 28px;
    height: fit-content;
    padding: .85rem .8rem;
    margin: auto 0 auto auto;
    text-align: center;
}